<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data %}
        <tr id="{{ user[0] }}">
            <td>{{ user[0] }} {{ user[1] }}</td>
            <td>
                <a href="#" class="btn btn-info edit-card" data-card-id="{{ user[0] }}"><i class="fa-solid fa-pen-to-square" style="color: white;""></i></a>
                <a href="#" class="btn btn-danger delete-card" data-card-id="{{ user[0] }}"> <i class="fas fa-trash text-left" style="color: white;""></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>